<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Atlassian.SDK" version="5.10.0" targetFramework="net451" />
  <package id="Common.Logging" version="2.0.0" targetFramework="net451" />
  <package id="EasyHttp" version="1.6.6.0" targetFramework="net451" />
  <package id="JsonFx" version="2.0.1209.2802" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net451" />
  <package id="Octokit" version="0.24.0" targetFramework="net451" />
  <package id="officeribbon" version="3.5.8.4" targetFramework="net451" />
  <package id="RestSharp" version="105.2.3" targetFramework="net451" />
  <package id="SharpBucket" version="0.6.5" targetFramework="net451" />
  <package id="Spring.Rest" version="1.1.0" targetFramework="net451" />
  <package id="Spring.Social.Core" version="1.0.0" targetFramework="net451" />
  <package id="TeamCitySharp" version="0.3.5" targetFramework="net451" />
</packages>