<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Atlassian.SDK" version="5.10.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net451" />
  <package id="Octokit" version="0.24.0" targetFramework="net451" />
  <package id="RestSharp" version="105.2.2" targetFramework="net451" />
  <package id="Tools4Libraries" version="1.0.17" targetFramework="net451" />
</packages>